@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Honk:SHLN@6&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bubble-font {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "SHLN" 53.3;
  font-size: 8rem;
  font-weight: bold;
}

.bg-play-page {
  @apply bg-play-page-bg bg-cover bg-center;
}

.bg-playground-page {
  @apply bg-play-ground bg-zoomed bg-top-adjusted;
}

@media (max-width: 640px) {
  .bg-playground-page {
    background-size: 400%;
    background-position: center -250px;
  }
}

@keyframes pop-up {
  0% {
    bottom: -100px; 
  }
  100% {
    bottom: -13px;
  }
}

.animate-pop-up {
  animation: pop-up 1s forwards;
}

.mole-container {
  position: relative;
  width: 12rem;
  height: 12rem;
  overflow: hidden;
}

.mole {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: end;
}

.mole-img {
  width: 9rem;
  height: 9rem;
}

.dirt {
  position: absolute;
  width: 100%;
  height: 33%;
  bottom: 0;
  background-image: url('../src/assets/dirt.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

